/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*reset*/
/*typography*/
body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
.nav-l a{
    color:white;
    text-decoration: none;
}
/*typography*/
/*header*/
header{
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
header img{
    width: 70px;
}
.seach-btn-bg{
    background-color: #e5e5e5 !important;
}
/*header*/

/*main*/
.main-section{
    margin-top: 70px;
}
.nav-l{
    background-color: #051e34;
    background-image: url("../img/sidebar-bg.png");
    width: 5rem;
    height: calc(100vh - 70px);
    flex-direction: column;
    justify-content: space-between;
}
.jumbo{
    background-color: #1b72e8; 
}
.fm-tags{
    background-color: #165bba;
    border-radius: 25px;
    font-size: 12px;
    padding: 0 5px;
    white-space:nowrap;
}
/*main*/
/*responsive*/
@media  screen and (min-width:992px){
   .logo img{
        width: 155px;
    }
    .nav-l{
        width: 9.375rem;
    }
}
/*responsive*/